.sponsors{
  .img-fluid {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .gold .img-fluid  {
   
  } 
  .silver .img-fluid  {
    
  } 
}

