
$color1: #2f78c1;
$color1_gradient_a: darken($color1, 10%);
//$color1_gradient_a: #c70039;
$color1_gradient_b: lighten($color1, 10%);
$color_bg_dark: #232531;
$color_bg_darker: #1b1d24;

$primary: $color1;
$text_primary: $color1;